Repository f-klubben/stregsystemet, pull requests merged in 2024-11, with the labels that each got.

#420 Document API with OpenAPI spec (API 1.1)
  openapi/stregsystem.yaml
Labels: enhancement, API

#459 [Feature] Nix Flake
  .gitignore
  README.md
  flake.lock
  flake.nix
  nix-support/default.nix
  nix-support/django-select2.nix
Labels: enhancement

#529 Razzia correct member stats
  razzia/templates/members.html
  razzia/templates/menu.html
  razzia/tests.py
  razzia/views.py
Labels: razzia

#421 Improve API (API 1.1)
  stregsystem/forms.py
  stregsystem/urls.py
  stregsystem/utils.py
  stregsystem/views.py
Labels: enhancement, API
