Repository f-klubben/stregsystemet, pull requests merged in 2025-01, with the labels that each got.

#539 Add notes field to Payment and Room
  stregsystem/migrations/0021_payment_notes_room_notes.py
  stregsystem/models.py
Labels: admin panel

#552 Product Notes: A tag to give update about a product stock
  stregsystem/admin.py
  stregsystem/fixtures/testdata.json
  stregsystem/migrations/0022_productnote.py
  stregsystem/models.py
  stregsystem/templates/stregsystem/index.html
  stregsystem/tests.py
  stregsystem/views.py
Labels: enhancement

#550 Automated testing of REST API
  .github/workflows/openapi.yml
  openapi/dredd.yml
  openapi/dredd_hook.py
  openapi/requirements.txt
  openapi/stregsystem.yaml
  openapi/utils.py
  stregsystem/fixtures/openapi-fixture.json
  stregsystem/views.py
Labels: bug, enhancement, code quality, API

#532 stregreport: Add all categories to overview
  stregreport/tests.py
  stregreport/urls.py
  stregreport/views.py
  stregsystem/templates/admin/stregsystem/report/ranks.html
  stregsystem/templates/shared_report_lists.html
Labels: enhancement, admin panel
